@{
    this.ViewData["Title"] = "Privacy Policy";
}
<h1>@this.ViewData["Title"]</h1>
<p>&nbsp;&nbsp;</p>
<p>Data processing</p>
<p>When you visit the Website, place an order, register for an account, or participate in a contest or survey on this Website, we may ask you to submit, among other things, your name, address, telephone number, bank and/or payment details (&ldquo;Personal Data&rdquo;). We will use this Persona Data for the following purposes:</p>
<ul>
    <li>to provide you with our services and invoice you for our products;&nbsp;</li>
    <li>to process your order and to contact or inform you of its progress;&nbsp;</li>
    <li>to provide you with information on the organization, products and activities;&nbsp;</li>
    <li>to provide information to third parties if this is necessary for them to be able to perform their work (for example, couriers or payment service providers);&nbsp;</li>
    <li>to fulfill our legal obligations;</li>
    <li>to answer any questions you may have.&nbsp;</li>
</ul>
<p>Finally, we record information (among other things, your IP address) for composing user statistics, running analytics and securing the Website.</p>
<p>Cookies</p>
<p>A cookie is a small piece of data sent from a website and stored in your web browser on your computer, mobile or other handheld device, while you are browsing a website. Cookies may be used to store your passwords and user ID&rsquo;s, preferences of start pages, ordering status on a website, personalization or website tracking (e.g. targeted marketing). The information stored in a cookie may later be read from your browser in order to, among other functions, deliver a page tailored to you or to automatically log in. Personal information can only be stored in a cookie if you yourself have provided the website that places the cookie with that personal information.</p>
<p>Use of cookies</p>
<p>Cookies allow you to make full use of the online shopping and personalized features available on this Website. Cookies also help us to provide you with the best shopping experience possible by giving us information which we use to improve the usability and the performance of this Website. Furthermore, we use tracking pixels in our e-mail newsletters to track clicks back to our Website.</p>
<p>We use cookies on this Website for the following main purposes:</p>
<ul>
    <li>for technical purposes essential for the operation of this Website, such as keeping track of your current shopping session and enabling you to proceed to checkout and pay for products;&nbsp;</li>
    <li>to distinguish you from other users of this Website, so we can personalize your shopping experience by making this Website and the advertising displayed on it more relevant to your interests and so we can remember choices you make (such as your user name, language or the country you are in) when you return to visit this Website;&nbsp;</li>
    <li>to collect statistical information about the number of visitors that use our Website through the link in our e-mail newsletters, and to measure the success of our newsletters;&nbsp;</li>
    <li>to collect statistical information about how visitors use this Website, so we can improve the way this Website works and measure the success of contests and campaigns;&nbsp;</li>
    <li>to enable us to fulfill our contractual obligations to third parties, for example to pay an advertising partner if you have made a purchase on this Website by following a link from their Website; and</li>
    <li>to make relevant offers to you outside of our Website.&nbsp;</li>
</ul>
<p>Secure personal data</p>
<p>We ensure an appropriate degree and method of securing your Personal Data. Therefore, we aim at having data transmitted safely between your computer and our server. We have taken reasonable technical and organizational measures to protect your Personal Data against loss and/or illegal processing.</p>
<p>&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;</p>