@model ShoppingApp.Data.ViewModels.Products.ProductListViewModel

<div class="row marginTop">
    @foreach (var product in Model.Products)
    {
        @Html.Partial("ProductSummary", product)
    }
</div>
