<li class="dropdown">
    <a asp-controller="Product"
       asp-action="Index"
       class="nav-link text-dark" data-toggle="dropdown">Wines<b class="caret"></b></a>
    <ul class="dropdown-menu">
        @foreach (var category in Model)
        {
            <li class="dropdown-item">
                <a class="dropdown-item" asp-controller="Product" asp-action="List"
                   asp-route-category="@category.Name">@category.Name</a>
            </li>
        }
        <li class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item" asp-controller="Product" asp-action="List" asp-route-category="">View all Wines</a>
        </li>
    </ul>
</li>
