@{
    ViewData["Title"] = "Contact Us";
}
<h2>Contact Us</h2>
<p>&nbsp;&nbsp;</p>
<p>Our Customer Care is available by phone Monday to Saturday.<br /><br />Please note that we are only able to provide assistance for issues related to the Online Store and your online shopping experience. We are not able to answer questions concerning retail stores or any other service.</p>
<p>You may contact customer service by calling 800 777761 between the hours of 8 am to 8 pm CET (7 am to 7 pm GMT), Monday to Saturday, excluding national holidays.</p>